/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-max-size {
  max-width: 66%;
  max-height: 66%;
}

@media (min-width: 766px) and (max-width: 1290px) {
  .custom-min-w {
    min-width: 150px;
  }
}


.svg-max-flags {
  max-width: 75%;
  max-height: 75%;
}

.how-to-image {
  width: 10%;
}

@layer base {
  html {
    font-family: Outfit, system-ui, sans-serif;
    color: white;
  }
}
